@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  --black: #272d3b;
  --red: #ed176f;
  --coral: #f7817f;
  --gradient: linear-gradient(90deg, var(--red), var(--coral));
}

* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::selection {
  background: #236CAD;
  color: #fff;
}


body {
    overflow: hidden;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-bottom: 80px;
}

.container .content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.container .content .title {
    font-size: 70px;
    color: #236CAD;
}


.container .content .description{
    font-size: 14px;
    color: #457095;
    padding: 10px 0;
}

.container .content .count-down {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    gap: 15px;
}

.container .content .count-down .box h3 {
    font-size: 50px;
    background: #236CAD;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

.container .content .count-down .box p {
    font-size: 17px;
    color: #457095;
    padding: 5px 0;
}

.container .content .btn {
    display: inline-block;
    padding: 15px 40px;
    background: #236CAD;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    transition: .2s linear;
}

.container .content .btn:hover {
    transform: scale(1.1);
}

.container span {
    position: absolute;
    top: -50px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: #fff;
    filter: blur(3px);
    animation: snowFall 5s linear infinite;
}

@keyframes snowFall {
    100% {
        transform: translateY(105vh) scale(.4);
    }
}

